@model Store.Domain.Entities.Product

<div class="item">
    <h3>@Model.Name</h3>
    @Model.Description
    <h4>@Model.Price.ToString("c")</h4>
</div>

<td>
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-white btn-sm" })
</td>

